<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Aplikacja ZOO</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            body {
                background-image: url(img/35101.jpg);
                background-repeat: no-repeat;
                background-size: cover;

            }

        </style>
    </head>
    <body>



    </span>
<center style='margin-top: 25%'>
    <div><H1><b>Z O O</b></H1></div>
    <p>Aplikacja rejstaracji pracowników oraz zwierząt</p>
    <br>


    <br><br>
    <a th:href="@{/pracownik}" class="btn btn-success">Lista Pracowników</a> &nbsp;&nbsp;<a th:href="@{/Pawilon}" class="btn btn-success">Lista Pawilonów</a> &nbsp;&nbsp;<a th:href="@{/Stanowisko}" class="btn btn-success">Lista Stanowisk Pracy</a> &nbsp; &nbsp<a th:href="@{/Zwierze}" class="btn btn-success">Lista zwierzaków</a></p>
&nbsp; &nbsp;<a th:href="@{/Gatunek}" class="btn btn-success">Lista Gatunków Zwierzaków</a><br><br><p><font size="3" >71446 & 72400 </font></p>        </center>

</body>
</html>
