<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Pracowników</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h2>Lista Pracowników</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>id stanowiska</th>
            <th>Data Zatrudnienia</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pracownik : ${pracownikList}">
            <td th:text="${pracownik.id_pracownika}"></td>
            <td th:text="${pracownik.imie}"></td>
            <td th:text="${pracownik.nazwisko}"></td>
            <td>
                <a th:href="@{/Stanowisko}" th:text="${pracownik.stanowisko.id_stanowiska}"></a>
            </td>
            <td th:text="${pracownik.data_zatrudnienia}"></td>
            <td>
                <a th:href="@{'/pracownik/edit/' + ${pracownik.id_pracownika}}" class="btn btn-primary btn-sm">Edycja</a>
                <a th:href="@{'/deletePracownik/' + ${pracownik.id_pracownika}}" class="btn btn-danger btn-sm">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/pracownik/new}" class="btn btn-success">Dodaj</a>
    <a th:href="@{/}" class="btn btn-success">Panel główny</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-XCEx+Z9pFWj2wblQHVnU14CNU8F5+KGJpHCF8eXolnDzU13egCffGPOeIJSq1TwD"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6uLbBl6S/BqE6JZnMxImV9ZG1WNRtE+ApA4d1"
        crossorigin="anonymous"></script>
</body>
</html>
